/* <dtml-with base_properties> (do not remove this :) */
/* <dtml-call "REQUEST.set('portal_url', portal_url())"> (not this either :) */

/****
Couleurs UNS 2011 : 
Bleu bandeau + liens : #009FDA
boutons bleu foncé : #274090
Gris clair (fond des pages) : #EFEFEF
Gris foncé (entetes, par dessus le fond): rgba(0, 0, 0, 0.15)

Bleu "Jalon V4" : #567490

Couleurs du logo : 
Bleu	#01B5E2
Vert	#93CEBD
Jaune	#F2CC0F
Blanc	#FFF
*****/


/*** GLOBAL **********************************************************************************/

body, h1, h2, h3, h4, h5, h6 {
    font: 1em "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
    font-weight: 300;
}

body.section-front-page div#edit-bar,
body.template-presentation_view dl#plone-contentmenu-display,
body.template-ressource_view dl#plone-contentmenu-display {
    display:none;
}


strong, b{
	font-weight:bold;
	color:#274090;
}

a:link, a:active, a:visited,
#content a:link, #content a:active, #content a:visited,
dl.portlet a:link, dl.portlet a:active, dl.portlet a:visited {
	color: #567490 !important;
	text-decoration: underline;
    border: 0;
}
dt.portletHeader a:link, dt.portletHeader a:active, dt.portletHeader a:visited {
	color: white !important;
    border: 0;
    text-decoration: none;
}
#content a:target{
	color:#EE8731;
}
#content-views a,
#contentActionMenus dl.actionMenu a,
#contentActionMenus dl.actionMenu.activated dd {
    color: #FFF !important;
    text-decoration: none;
}
#content-views li.selected a,
#content-views li a:hover,
#contentActionMenus dl.actionMenu.activated dd a:hover,
#contentActionMenus dl.actionMenu.activated dd .actionMenuSelected {
    color: #000 !important;
}
a.internal-link, a.external-link {
    background-image:url("++resource++jalonedit.theme.images/navigation/cours/lien_interne.png");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 20px;
}
a.external-link {
    background-image:url("++resource++jalonedit.theme.images/navigation/cours/internet.png");
}

a:hover,
#content a:hover {
	color: #e0580a !important;
	text-decoration: underline;
}
img {
	border: none;
}
img.jaxe {
	vertical-align: middle;
}
img.equatex {
	vertical-align: middle;
}
code {
	color: #339933;
}
em {
    font-style: italic;
    font-weight: bold;
}
.hide {
	display: none;
}


/*** LAYOUT ***************************************************************************************/

div.position-0 {
    margin-left: -100%;
}
div.position-1\3a 4 {
    margin-left: -75%;
}
div.position-3\3a 4 {
    margin-left: -25%;
}
div.width-full {
    width: 100%;
}
div.width-1\3a 4 {
    width: 25%;
}
div.width-3\3a 4 {
    width: 75%;
}
div.width-1\3a 2 {
    width: 50%;
}

#portal-header {
    background-color:#009FDA;
    background-image: -webkit-gradient(linear, left bottom, left top, from(transparent), to(rgba(0, 0, 0, 0.33)));
	background-image: -moz-linear-gradient(center bottom , transparent, rgba(0, 0, 0, 0.33));
}

#portal-logo {
    margin:0;
    padding:0;
}
#portal-header h1 {
    position: absolute;
    top: 38px;
    right: 0pt;
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    font-size: 1em;
    color: #FFF;
    min-width: 461px;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin:0;
    padding:0;
}

div.row {
    clear: both;
}
#portal-columns {
    background-color:#FAFAFA;
    clear: both;
}

#portal-column-one {
    border-right: 1px solid #CCCCCC;
    padding-bottom: 2em;
}

#portal-column-content {
    background-color:white;
    border-left: 1px solid #CCCCCC;
    padding-bottom: 2em;
}

#content {
    margin: 2em;
    margin-bottom: 5em;
}
#content p {
    margin: 0;
}

#edit-bar {
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
}

/*** GLOBALNAV *************************************************************/

#portal-globalnav {
    background: transparent;
    margin:0;
    padding:0;
    margin-top: 1em;
    float: right;
    
    
    background-color: #005979;

    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    float: right;
    font-size: 100%;
    font-weight: bold;
    padding: 5px 10px;
    position: absolute;
    right: 0;
    top: 5px;
    z-index: 10;
}
#portal-globalnav li a,
#portal-globalnav li a:link,
#portal-globalnav li a:active,
#portal-globalnav li a:visited {
    background: transparent;
    margin:0 0.5em;
    padding:0;
    border: 0;
    color: #FFF !important;
    font-weight: bold;
    text-decoration: none;
    min-width: 0;
}
#portal-globalnav li a:hover {
    background: transparent;
    color: #93CEBD !important;
}
#portal-globalnav li.selected a,
#portal-globalnav li.selected a:link,
#portal-globalnav li.selected a:active,
#portal-globalnav li.selected a:visited,
#portal-globalnav li.selected a:hover {
    cursor: default;
    background: transparent;
    color:#F2CC0F !important;
}

/*** BREADCRUMB *************************************************************/

/*******************
Fil d'Ariane
********************/

#portal-breadcrumbs span.breadcrumbSeparator {
    display: none;
}

#portal-breadcrumbs {
	height: 3em;

	background-color: white;
	color: rgba(0, 0, 0, 0.75);

	font-weight: bold;
	
	padding-left: 1em;
	margin: 0;
	margin-bottom: 1em;
	margin-left: 0.25em;

	text-shadow: 0 1px 1px white, 0 1px 1px white;
	font-size: 80%;

	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
	-moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;

	background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.1)), to(transparent));
	background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.1), transparent);
}

#portal-breadcrumbs span#breadcrumbs-home {
	background-image: url("++resource++jalonedit.theme.images/navigation/crumbs_home.png");
	background-position: 5px center;
	background-repeat: no-repeat;
	padding-left: 24px;
}

#portal-breadcrumbs span#breadcrumbs-home a {
	display:none;
}

#portal-breadcrumbs span {
	/*float: left;*/
	line-height: 3em;
	padding-left: .33em;
}

#portal-breadcrumbs span a {
	background: url("++resource++jalonedit.theme.images/navigation/crumbs.png") no-repeat right center;
	/*display: block;*/
	padding: 0 15px 0 0;
	color: rgba(0, 0, 0, 0.75);
}

#portal-breadcrumbs a {
	border-bottom: none;
	/*display: inline-block;*/
}


/* ANCIEN FIL d'ariane :
#portal-breadcrumbs {
    font-weight: bold;
    background-color:#B0B0B0;
    margin:0;
    padding:0.25em;
    padding-left: 1em;
    min-height: 1em;
}
#portal-breadcrumbs span#breadcrumbs-you-are-here,
#portal-breadcrumbs span#breadcrumbs-home/*,
#portal-breadcrumbs span:last-child*/ {
   /*display:none;*/
}
/*
#portal-breadcrumbs span a,
#portal-breadcrumbs span a:link,
#portal-breadcrumbs span a:active,
#portal-breadcrumbs span a:visited {
    color: #000 !important;
    font-weight: bold;
    text-decoration: none;
}
#portal-breadcrumbs span a:hover {
    color: #00626D !important;
    font-weight: bold;
    text-decoration: none;
}
*/

/*** FOOTER ***********************************************************************/
div#footer/*, #portal-footer*/ {
    background-image: url("++resource++jalonedit.theme.images/navigation/interface/background_footer.png");
    background-repeat: repeat-x;
    background-color: transparent;
    min-height: 28px;
    line-height: 2em;
    margin:0;
    padding:0;
    font-size: 70%;
    z-index: 1000;
    width: 100%;
    clear: none;
    float: left;
    margin:0;
    padding:0;
    text-align: left;
}

div#footer ul#menu-bas, div#footer div.copyright {
    padding-top: 4px;
}
div#footer ul#menu-bas {
    float: left;
    margin-left: 2em;
}
div#footer ul#menu-bas li {
    margin: 2px;
    margin-bottom: 0;
}
div#footer div.copyright {
    color: #333333;
    float: right;
    margin-right: 2em;
}


/*** NAVIGATION ******************************************************************************/

dl.portlet {
    margin: 1em;
    background-color:white;
}
dl.portlet .navTreeItem {
    line-height: auto;
    margin: 0;
}
dl.portlet ul.navTreeLevel0 > .navTreeItem {
    border: 0;
    margin:0;
    padding:0;
}
dl.portlet ul.navTreeLevel1 .navTreeItem {
    padding-left: 1em;
}
dl.portlet ul.navTree .navTreeCurrentItem {
    margin: 0;
    border: 0;
    background-color: #CCC;
    border-left-color:#CCC;
}
    
dl.portlet ul.navTree li.section-presentation,
dl.portlet ul.navTree li.section-fichiers,
dl.portlet ul.navTree li.section-glossaire,
dl.portlet ul.navTree li.section-webographie,
dl.portlet ul.navTree li.section-bibliographie,
dl.portlet ul.navTree li.section-aide,
dl.portlet ul.navTree li.section-credits,
dl.portlet ul.navTree li.section-mentions {
    display: none;
}

dl.portlet ul.navTree li a,
dl.portlet ul.navTree li a:hover {
    color: #C02000 !important;
    text-decoration: none;
    background-repeat:no-repeat;
    background-position:left center;
    line-height: 1.25em !important;
}
dl.portlet ul.navTree li a:hover {
    text-decoration:underline;
}
/*dl.portlet ul.navTreeLevel1 li a,
dl.portlet ul.navTreeLevel1 li a:hover {
    color: #E04010 !important;
}
dl.portlet ul.navTreeLevel2 li a,
dl.portlet ul.navTreeLevel2 li a:hover {
    color: #C05010 !important;
}*/

dl.portlet ul.navTree li a.contenttype-folder {
    background-image:url("++resource++jalonedit.theme.images/navigation/puces/bullet_toggle_plus.gif");
}
dl.portlet ul.navTree li a.contenttype-collage,
dl.portlet ul.navTree li a.contenttype-collage:hover {
    color: #274090 !important;
    background-image:url("++resource++jalonedit.theme.images/navigation/puces/bullet_black.gif");
    padding-left: 20px !important;
}
dl.portlet ul.navTree li a.contenttype-collage img {
    display: none;
}
.icons-on .contenttype-documentcoursUNS{
    padding-left: 20px;
    background-repeat:no-repeat;
	background-image:url("++resource++jalonedit.theme.images/navigation/cours/lien_interne.png");
}
.portlet .even{
	background-color:#EFEFEF;
}
.portlet{
	border:1px solid #EFEFEF;
	border-right-color:#BBB;
}
.portlet, .portletHeader{
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom:1px solid #BBB;
}

.portlet, .portletFooter{
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.portletFooter{
background-color:#DDD;
border-top:1px solid #BBB;
text-align:center;
}

/*** TITRES *********************************************************************/

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    letter-spacing: 0;
}
h1 {
    font-size: 1.75em;
    margin-bottom: 1em;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.25em;
}
h4 {
    font-size: 1em;
}

body h1.documentFirstHeading {
    font-size: 1.25em;
}

body.portaltype-folder h1.documentFirstHeading {
    color: #C02000;
    font-size: 2em;
}
body.portaltype-collage h1.documentFirstHeading {
    color: #274090;
}

body.section-presentation h1.documentFirstHeading,
body.section-ressources   h1.documentFirstHeading {
    color: #567490;
    font-size: 1.4em;
}
body.section-presentation h2,
body.section-ressources   h2 {
    color: #333;
    font-size: 1.33em;
}

/*** BLOCS TYPES *************************************************************************/

body.section-cours #content p {
    /*text-indent: 1em;*/
    margin: 1em 0;
}

#content div.navigation,
#content div.selection {
    background-color: #EFEFEF;
    margin-bottom: 1em;
    padding: 0;
    height: 2.3em;
}
#content div.navigation ul,
#content div.selection  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#content div.navigation ul li,
#content div.selection  ul li {
    display: inline;
    margin:0;
    padding:0;
}

#content div.navigation ul li a:link,
#content div.navigation ul li a:active,
#content div.navigation ul li a:visited,
#content div.selection  ul li a:link,
#content div.selection  ul li a:active,
#content div.selection  ul li a:visited {
    background-color: #567490;
    border: 1px solid #FFF;
    color: #FFF !important;
    display: block;
    float: left;
    font-weight: bold;
    margin: 0.1em;
    padding: 0.25em 0.5em;
    text-decoration: none;
}
#content div.navigation ul li a:hover, 
#content div.selection  ul li a:hover,
#content div.navigation ul li.selected a, 
#content div.selection  ul li.selected a {
    background-color: #009FDA;
    color: #FFF !important;
    text-decoration: none;
}

#content div.navigation ul li.vide a {
    opacity:0.5;-moz-opacity:0.5;-khtml-opacity:0.5;filter:alpha(opacity=50);
    cursor:default;
}


/***/

#content div.bloc-standard,
#content div.liste-ressources,
#content div.bloc-expositif div.contenu-bloc {
    background-color: #FFF;
    border: 1px dotted #31999A;
    padding: 1em;  
    margin: 0.5em 0; 
    text-align: justify;
}
#content div.liste-ressources {
    background-color: #DFEDED;
}

#content div.bloc-standard h2,
#content div.liste-ressources h2 {
    color: #567490;
    font-size: 1.2em;
    letter-spacing: 1px;
    margin-bottom: 0.75em;
}


div#content div.liste-ressources ol {
    color: #5F5F5F;
    letter-spacing: 1px;
}


/***/

#content div.bloc-expositif h2.documentSemantique {
    background-color: #009FDA;
    color: #FFFFFF;
    font-size: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 2px center;
    padding-left: 30px;
    line-height: 29px;
    padding-right: 2em;    
}
#content div.bloc-expositif div.contenu-bloc {
    background-color: #FAFAFA;
    margin-top: 0;
}
#content div.bloc-expositif div.contenu-bloc p {
    margin: 0;
}
/* !!! les styles des différents blocs sont dans theme/skins/jalonedit_theme_styles/ploneCustom.css.dtml !!! */

/***/

#content div.zonetable,
#content div.bloc-media {
    margin: 1em 0;
}

#content div.zonetable h2,
#content div.bloc-media h2 {
    color: #000;
    letter-spacing: 2px;
    padding-left: 5px;
    text-transform: uppercase;
    font-size: 1em;
}
#content div.bloc-media h2 {
    text-align: center;
}

#content div.zonetable table th {
	padding: 5px;
	border: solid 1px #ddd;
	background: #fafafa url("++resource++jalonedit.theme.images/navigation/interface/background_table_th.png") repeat-x;
}
#content div.zonetable table td {
    border: 1px solid #DDDDDD;
    padding: 5px;
    text-align: left;
}
#content div.zonetable table tr.p1 td {
    background-color: #FAFAFA;
}
#content div.zonetable table tr.p2 td {
	background-color: #f0fbfb;
}



#content div.bloc-media div.media {
    text-align: center;
}
#content div.bloc-media div.bloc-legende,
#content div.bloc-media div.bloc-credits {
    color: #333;
    font-style: normal;
    font-weight: normal;
    margin-left: 1em;
    text-align: left;
    font-size: 0.85em;
}
#content div.bloc-media div.bloc-credits {
    font-style: italic;
}

/***/

#content div.haut-page {
    text-align: right;
}
#content div.haut-page a {
    background-image:url("++resource++jalonedit.theme.images/navigation/puces/puce_301.gif");
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 16px;
    text-decoration: none;
    font-size: 0.8em;
}
body.section-ressources #content div.haut-page {
    border-bottom: 1px solid #DDD;
}

/*** RESSOURCES ******************************************************************************/

h3.lettre {
    background-color: #01B5E2;
    clear: left;
    color: #FFF;
    float: left;
    font-size: 2.4em;
    font-weight: bold;
    padding-right: 0.5em;
    margin-bottom: 0.25em;
    text-transform: uppercase;
}

div.bloc-definition {
    clear: left;
}
div.bloc-definition h4 {
    color: #333;
    font-size: 1.33em;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-top: 0.5em;
}

/*** COLLAGE *************************************************************************************/

div#collage.edit a.bouton-collage {
    float: left;
    background-color: #75AD0A;
    color: #FFF !important;
    text-decoration: none;
    margin-right: 0.25em;
    padding: 0 0.25em;
    font-size: 100%;
    text-transform:capitalize;
    
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}
div#collage.edit a.bouton-collage:hover {
    background-color: #FFF !important;
    color: #000 !important;
}

div#collage.edit a.bouton-collage-layout,
div#collage.edit a.bouton-collage-browse,
div#collage.edit a.bouton-collage-copy,
div#collage.edit a.bouton-collage-paste,
div#collage.edit a.bouton-collage-copier,
div#collage.edit a.bouton-collage-coller,
div#collage.edit a.bouton-collage-contenus,
div#collage.edit a.bouton-collage-voir,
div#collage.edit a.bouton-collage-modifier,
div#collage.edit a.bouton-collage-contenus {
    display: none;
}

div#collage.edit a.bouton-collage-modèle,
div#collage.edit a.bouton-collage-insérer {
    display: none;
}

div#collage.edit div.collage-item a.bouton-collage-modifier {
    display: block;
}


body.template-collage_compose #content {
    margin:0.5em;
    margin-bottom: 5em;
    padding:0;
}
span.collage-navigation img {
    width: 16px;
    height: 16px;
    margin-right: 2px;
}
.collage-header span {
    text-transform: none;
}
div#collage.edit div.collage-column,
div#collage.edit div.collage-column div.collage-item {
    margin-left: 20px !important;
    margin-right: 20px !important;
}
div#collage.edit div.collage-column div.collage-item {
    margin-top: 10px;
}

div#collage.edit a.bouton-collage:before {
    margin-right: 0.25em;
}
div#collage.edit a.bouton-collage-create:before {
    content: "\271A";
}
div#collage.edit a.bouton-collage-split:before {
    content: "\275A  \275A";
}
div#collage.edit a.bouton-collage-supprimer:before {
    content: "\2716";
}
div#collage.edit a.bouton-collage-modifier:before {
    content: "\2714";
}



.collage-header {
    opacity:0;-moz-opacity:0;-khtml-opacity:0;filter:alpha(opacity=0);
}


div.collage-header {
    background-color: #ddd;
    padding: 3px !important;
    border: 0;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}
div#collage.edit div.column-block {
    background-color: #efefef;
    margin-bottom: 0.5em;
    
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}


/*div.standard-document * {
    display: none;
}
div.standard-document h2, 
div.standard-document h2 *,
div.standard-document .bloc-expositif,
div.standard-document .bloc-expositif h2 * {
    display: block;
}*/

/*** Citations Stylisées : **/

#content .callout, blockquote {
    font-family:Georgia,"Times New Roman",Times,serif;
    font-style:italic;
    background-image:url("++resource++jalonedit.theme.images/right-quote.gif");
    background-repeat: no-repeat;
    background-position:right bottom;
    /*text-indent:-25px;*/
    padding-right:25px;
    padding-left:25px;
    color:#650000;
    text-align:justify;
   	margin:1em 0.5em 0 0.5em;
   	/*border-style: dashed;
   	border-width : 1px;*/
}

#content .callout:first-letter, blockquote:first-letter {
    background-image:url("++resource++jalonedit.theme.images/left-quote.gif");
	background-repeat: no-repeat;
    background-position:left top;
    padding-left:25px;
    font-size:1.4em;
}

/***** Collage specifique *************/

div.collage-column .block_2{
	border-left: 1px dashed grey;
	/*margin-left: 1em;*/
}

#collage .two-columns-equal .block_2 {
    width: 49%;
    float:right;
}

/*** DIVERS ******************************************************************************/

/*body.portaltype-documentUNS #archetypes-fieldname-title {
    display: none;
}*/
.image-left {
    margin: 0.5em 2em 0.5em 0;
}

div.listingBar a.previous,
div.listingBar a.next {
    border:0;
    margin: 0 1em;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}

div.listingBar a.previous:hover,
div.listingBar a.next:hover {
    color:#FFF !important;
    background-color: #009FDA !important;
    text-decoration: none;
}


#content.dialog-wrapper {
    padding:0;
}
fieldset, .editionComment {
    margin:0;
    padding:0;
}

/** class "portrait" permettant d'ajouter une bordure "photo" aux images" **/
img.portrait{
  max-height:100px;
  border:1px solid rgba(0,0,0,0.2);
  background-color:#DFDFDF;
  padding:3px;
  vertical-align:middle;
  -moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

a:hover img{
  opacity:0.75;
}

#menu-bas a{
  text-decoration:none;
}


dl.collapsedBlockCollapsible {
  border: none;
  height: auto !important;
  width: auto;
}

/** Table des matieres ***/
dl.toc dt {
	margin-left: 0;
}

dl.toc{
	border:1px #DFDFDF outset;
	float:right;
}

/***** Style des portlets ****/
dl.portlet dt{
	font-variant:small-caps;
	background-color:#009FDA;
	color:white;
}
#content dd {
	margin: 0.5em;
}

.alinea{
	text-indent: 3em;
}

a.titre_portlet {
  display: inline !important;
}

a.ajouter_portlet {
  display: inline !important;
  float: right;
}
/* </dtml-with> */