/*body {
    background-color:red !important;
}*/

/*body #edit-bar,*/

/*#contentview-folderContents,*/
#contentview-metadata,
#contentview-local_roles,
#plone-contentmenu-actions,
/*#plone-contentmenu-factories,*/
#plone-contentmenu-workflow span.arrowDownAlternative,
#plone-contentmenu-workflow dd.actionMenuContent,

#workflow-transition-publish,
#workflow-transition-submit,
#workflow-transition-reject,
#workflow-transition-retract,

#personaltools-mystuff,
#personaltools-dashboard,
#personaltools-preferences,

ul.formTabs,
/*ul.formTabs a[href="#fieldsetlegend-categorization"],
ul.formTabs a[href="#fieldsetlegend-ownership"],
ul.formTabs a[href="#fieldsetlegend-settings"],*/

#archetypes-fieldname-feedItemAuthor,
#archetypes-fieldname-feedItemUpdated,
#archetypes-fieldname-link,
#archetypes-fieldname-feedTitle,
/*#archetypes-fieldname-text,*/
#archetypes-fieldname-expirationDate,

body.template-content_status_history div.documentDescription,
body.template-content_status_history div.affected_content,
body.template-content_status_history div.folders_in_publishing,
body.template-content_status_history div.effective_date,
body.template-content_status_history div.expiration_date,
body.template-content_status_history div.comments,
body.template-content_status_history div.submit,
body.template-content_status_history div.retract

{
    display:none !important;
}



#contentActionMenus {
    float:left;
}

#portal-personaltools {
    padding:0 0.25em;

    border-radius:0.5em;
    -moz-border-radius:0.5em;
    -webkit-border-radius:0.5em;
}
#portal-personaltools.activated {
    border-bottom-left-radius:0;
    -moz-border-radius-bottomleft:0;
    -webkit-border-bottom-left-radius:0;
    
    border-bottom-right-radius:0;
    -moz-border-radius-bottomright:0;
    -webkit-border-bottom-right-radius:0;
}

textarea#description {
     /*height:20em;*/
}
